body {
    background-color: #000000;
}
#nav {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    display: flex;
    justify-content: space-around;
    background-color: #111111;
    padding: 4px 2px;
    border-radius: 25px;
}
#nav button {
    background-color: transparent;
    border-radius: 25px;
    color: #ffffff;
    border: none;
    padding: 15px 15px;
}
#nav button.active {
    background-color: #3f3f3f;
}
.tab-content {
    display: none;
    padding: 20px;
    color: #ffffff;
}
.tab-content.active {
    display: block;
}